<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>PayloadContent</key>
  <array>
    <dict>
      <key>PayloadType</key>
      <string>com.apple.vpn.managed</string>

      <key>PayloadVersion</key>
      <integer>1</integer>

      <key>PayloadIdentifier</key>
      <string>work.scanferlamatteo.adblock.vpn</string>

      <key>PayloadUUID</key>
      <string>11111111-1111-1111-1111-111111111111</string>

      <key>PayloadDisplayName</key>
      <string>AdBlock VPN</string>

      <key>UserDefinedName</key>
      <string>AdBlock VPN</string>

      <key>VPNType</key>
      <string>IKEv2</string>

      <key>IKEv2</key>
      <dict>
        <key>RemoteAddress</key>
        <string>adblock.scanferlamatteo.work</string>

        <key>RemoteIdentifier</key>
        <string>adblock.scanferlamatteo.work</string>

        <key>LocalIdentifier</key>
        <string>adblock</string>

        <key>AuthenticationMethod</key>
        <string>None</string>

        <key>ExtendedAuthEnabled</key>
        <integer>1</integer>

        <key>UseConfigurationAttributeInternalIPSubnet</key>
        <integer>0</integer>

        <key>ServerCertificateCommonName</key>
        <string>adblock.scanferlamatteo.work</string>

        <key>DisableMOBIKE</key>
        <integer>0</integer>

        <key>DisableRedirect</key>
        <integer>0</integer>

        <key>EnableCertificateRevocationCheck</key>
        <integer>0</integer>

        <key>EnablePFS</key>
        <integer>1</integer>
      </dict>
    </dict>
  </array>

  <key>PayloadType</key>
  <string>Configuration</string>

  <key>PayloadVersion</key>
  <integer>1</integer>

  <key>PayloadIdentifier</key>
  <string>work.scanferlamatteo.adblock</string>

  <key>PayloadUUID</key>
  <string>22222222-2222-2222-2222-222222222222</string>

  <key>PayloadDisplayName</key>
  <string>AdBlock General Purpose</string>
</dict>
</plist>
